@import "../../../styles/_index";

.footer{
    @include flex(top, space-between, row);
    padding: 80px;
    background-color: $black;

    h2,h3{
        color: $white;
    }

    .footer--siteMap{

        h2{

        }

        h3{

        }

        ul{
            margin-top: 20px;
            list-style: none;
            padding-left: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 100px;
            row-gap: 20px;

            a{
                li{
                    color: $white;
                }
            }
        }
    }

    .footer--contactInfos{
        h3{

        }

        div:first-child{
            h3{

            }
        }

        div:last-child{
            margin-top: 30px;

            h3{

            }

            div{
                @include flex(center, space-between, row);
                width: 50px;

                a{
                    svg{

                    }
                }
            }
        }
    }
}