@import "../../../styles/_index";

.homeContent--container{
  margin: 0 auto;
  text-align: center;

  .carrossel--container {
    max-width: 100vw;
    padding: 0;
    width: 100%;
    height: 680px;
    z-index: -10;
  }

  .evolucaoParaTodes--container{
    @include flex(center, space-between, row);
    border-bottom: 1px solid $color-gray;
    width: 90%;
    padding: 80px;
    margin: 0 auto;

    aside{
      width: 50%;

      h2{
        text-align: left;

        span{

        }
      }

      div{
        text-align: left;
        margin-left: 0;

        a{

        }
        
        svg{

        }
      }
    }

    p{
      width: 50%;
      text-align: justify;

      span{

      }
    }
  }
}
