@import "../../../styles/_index";

.carrossel--container{
    max-width: 100vw;
    padding: 0;

    div{
        position: absolute;
        width: 100%;
        padding: 0;
        display: block;
        top: 0;
        background: url("../../../assets/main_picture.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 680px;
        z-index: -10;
    }
}